:root{
  --f-sm: 12px;
  --f-sm-lg: 14px;
  --f-main: 16px;
  --f-md-s: 18px;
  --f-md: 20px;
  --f-md-l: 22px;
  --f-lg: 24px;
  --f-xl: 30px;
  --f-xxl: 48px;
  --f-v-xxl: 60px;
  --f-v-xxxl: 100px;
  --f-vv-xxxl: 130px;
}
@media screen and (max-width:1400px) {
  :root{
    --f-v-xxl: 50px;
    --f-v-xxxl: 90px;
    --f-vv-xxxl: 100px;
  }
}
@media screen and (max-width:1200px) {
  :root{
    --f-sm: 12px;
    --f-sm-lg: 14px;
    --f-main: 16px;
    --f-md-s: 16px;
    --f-md: 18px;
    --f-md-l: 20px;
    --f-lg: 22px;
    --f-xl: 26px;
    --f-xxl: 30px;
    --f-v-xxl: 45px;
    --f-v-xxxl: 70px;
    --f-vv-xxxl: 80px;
  }
}
@media screen and (max-width:991px) {
  :root{
    --f-sm: 10px;
    --f-sm-lg: 12px;
    --f-main: 14px;
    --f-md-s: 15px;
    --f-md: 16px;
    --f-md-l: 18px;
    --f-lg: 20px;
    --f-xl: 22px;
    --f-xxl: 24px;
    --f-v-xxl: 30px;
    --f-v-xxxl: 40px;
    --f-vv-xxxl: 60px;
 }
}
@media screen and (max-width:765px) {
  :root{
    --f-sm: 9px;
    --f-sm-lg: 11px;
    --f-main: 12px;
    --f-md-s: 14px;
    --f-md: 15px;
    --f-md-l: 16px;
    --f-lg: 16px;
    --f-xl: 17px;
    --f-xxl: 18px;
    --f-v-xxl: 20px;
    --f-v-xxxl: 30px;
    --f-vv-xxxl: 40px;
 }
}
@media screen and (max-width:575px) {
  :root{
    --f-sm: 8px;
    --f-sm-lg: 10px;
    --f-main: 12px;
    --f-md-s: 13px;
    --f-md: 14px;
    --f-md-l: 16px;
    --f-lg: 16px;
    --f-xl: 17px;
    --f-xxl: 17px;
    --f-v-xxl: 18px;
    --f-v-xxxl: 20px;
    --f-vv-xxxl: 28px;
 }
}
*{
  box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}
body{
   font-family: "Manrope", sans-serif !important;
}
.f-longName{
   font-family: "Covered By Your Grace", cursive !important;
}
.f-star{
   font-family: 'STAR7', sans-serif !important;
}
.my-container{
  width: 70%;
  min-width: 325px;
  margin-inline: auto;
}
.my-container2{
  width: 85%;
  min-width: 300px;
  margin-inline: auto;
}
.top-links{
  background-color: #4BAF47;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
img{
  max-width: 100%;
}
.canter_ele{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.main-btn{
  padding-block: 14px;
  width: fit-content;
  font-size: var(--f-main) !important;
  border: 1px solid transparent;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;

  @media screen and (max-width:1200px) {
    padding-block: 8px;
  }
}
.main-sec-title{
  width: fit-content;
}
.main-sec-title h5{
  color: #EEC044;
  font-size: var(--f-lg);
}
.main-sec-title h1{
  color: #1F1E17;
  font-size: var(--f-xxl);
  font-weight: 800;
}

/* BS custom*/
.navbar-toggler,
.navbar-toggler.collapsed{
  border: none !important;
  box-shadow: none !important;
}

/* ----------------- */
.top-links,
.top-links a{
  font-size: var(--f-sm);
  color: #fff;
}
.top-links a:hover{
  color: #f3eaea;
}
.icons-ul li:first-of-type{
  margin-inline-start: 0px !important;
}
/* ________________ */
.my-nav.bg-body-tertiary{
  background-color: #fff !important;
}
.my-nav > div > a img{
  width: 100px;
}
.my-nav.bg-body-tertiary a {
  color: #878680;
  font-size: 16px;
  font-weight: 800;
}
.my-nav.bg-body-tertiary a:hover,
.my-nav.bg-body-tertiary a.active {
  color: #1F1E17;
}
@media screen and (max-width:1200px) {
  .my-nav.bg-body-tertiary a {
    font-size: 12px;
  }
}
@media screen and (max-width:991px) {
  .my-nav.bg-body-tertiary a {
    font-size: 16px;
  }
}
.cart-icon-container > span{
  position: absolute;
  top: -5px;
  left: calc(100% - 10px);
  width: 20px;
  height: 20px;
  background-color: #4BAF47;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.nav-icons ul li{
  cursor: pointer;
  padding-inline-end: 10px;
}
.nav-icons ul li:first-of-type{
  border-bottom: 0px;
  cursor:auto;
}
.nav-icons ul li input{
  width: calc(100% - 50px);
  outline: none;
  padding-block: 10px;
  border: 0px;
  border-bottom: 1px solid #00000020;
}
.nav-icons ul li a > span:first-child{
  font-size: 18px ;
  color: #878680;
  font-weight: 500;
}
@media screen and (max-width:991px) {
  .dropdown-menu{
    border: 0px !important;
  }
}
/* ________________ */
.swip-section{
  background-image: url('images/swip-main.png');
  background-size: cover;
  height: 630px;
  background-position: center;
}
.head-swip .swiper-slide >div span{
  color: #fff;
  font-size: var(--f-v-xxxl);
  font-weight: 800;
  max-width: 50%;
  line-height: 110px;
  margin-top: -23px;

  @media screen and (max-width:991px) {
    line-height: 70px;
  }
  @media screen and (max-width:765px) {
    line-height: 50px;
  }
}
.head-swip .swiper-slide >div span:first-of-type{
  color: #EEC044;
  font-size: var(--f-vv-xxxl);
  font-weight: 400;
  margin-top: 0px;
}
.head-swip .swiper-slide >div a{
  background-color: #4BAF47;
  color: #fff;
}
.head-swip .swiper-slide >div a:hover{
  background-color: transparent;
  color: #4BAF47;
  border: 1px solid #4BAF47;
}
.swiper-button-prev,
.swiper-button-next{
  left: calc(100% - 70px) !important;
  border: 1px solid #4BAF47;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  @media screen and (max-width:991px) {
    width: 40px !important;
    height: 40px !important;
  }
  @media screen and (max-width:765px) {
    width: 30px !important;
    height: 30px !important;
  }
}
.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: var(--f-xl) !important;
  color: #4BAF47;
  font-weight: 500;
}
.swiper-button-next{
  transform: translateY(55px);
  -webkit-transform: translateY(55px);
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -o-transform: translateY(55px);
  @media screen and (max-width:765px) {
    transform: translateY(35px);
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);
}
}
/* _______________ */
.swip-section .features{
  bottom: 0px;
  left: 50%;
  width: 70%;
  min-width: 300px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #00000039;
  transform: translate(-47%, 50%);
  -webkit-transform: translate(-47%, 50%);
  -moz-transform: translate(-47%, 50%);
  -ms-transform: translate(-47%, 50%);
  -o-transform: translate(-47%, 50%);
}
.swip-section .features > div:nth-child(2){
  justify-content: center;
  border-inline: 1px solid #E4E2D7 !important;
  
  @media screen and (max-width:991px) {
    border-inline-end: 0px !important;
    justify-content: start;
  }
  @media screen and (max-width:765px) {
    border: 0px !important;
  }
}
@media screen and (max-width:765px) {
  .swip-section .features > div{
    justify-content: center !important;
  }
}
.swip-section .features > div h4{
  font-size: var(--f-md);
  color: #1F1E17;
  font-weight: 800;
}
.swip-section .features > div span{
  font-size: var(--f-main);
  color: #878680;
  font-weight: 500;
}
/* ________________ */
.new-prods{
  margin-block: 220px;
}
.product img{
  width: 100%;
}
.product h4{
  color:#222222 ;
  font-size: var(--f-md-l);
  font-weight: 800;
}
.product span{
  font-size: var(--f-sm-lg);
  color: #EEC044;
}
.product span.price-span{
  font-size: var(--f-main);
  font-weight: 600;
  color: #4BAF47;
}
.advertSection > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 300px;
} 
.advertSection >div h2{
  color: #fff;
  font-size: var(--f-v-xxl);
  font-weight: 800;
  text-align: center;
}
.advertSection >div a,
.organice-food a{
  background-color: #4BAF47;
  color: #fff;
}
.advertSection >div a:hover{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.organice-food a:hover{
  background-color: transparent;
  color: #4BAF47;
  border: 1px solid #4BAF47;
}
.img-cards-container{
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.img-card{
  width: calc(50% - 12px);
  max-height: 300px;
  overflow: hidden;
}
.img-card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-card > div{
  top: 50%;
  left: 10%;
  color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.img-card > div p{
  font-size: var(--f-xl);
  width: 90%;
}
.img-card > div a{
  background-color: #fff;
  color: #000;
}
.organice-food > div >img,
.organice-food > div >div{
  flex: 1;
  min-width: 350px;

  @media screen and (max-width:765px) {
    min-width: 300px;
  }
}
.organice-food > div > div p{
  font-size: var(--f-main);
  color: #878680;
  font-weight: 500;
}
.organice-food > div > div h4{
  font-size: var(--f-md-l);
  color: #1F1E17;
  font-weight: 800;
}
.mid-links{
  background-color: #1F1E17;
  font-size: var(--f-md-s);
  font-weight: 500;
  
}
.mid-links >div > a{
  color: #A5A49A;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.mid-links >div > a:hover{
  color: #fff;
}
/* ___________ */
.review-sec{
  background-image: url('images/review-main.png');
  background-size: cover;
  background-position: center;
  min-height: 520px;
}
/* --------------------- */
@media screen and (max-width:765px) {
  .dumb-imgs{
    padding-inline-start: 20px;
    max-width: 100%;
  }
}
.dumb-imgs > div{
  max-width: 100px;
  z-index: 20;
  position: relative;
}
.dumb-imgs > div img{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dumb-imgs > div::before{
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 40px;
  height: 40px;
  z-index: 100;
  transform: translate(+50%, -50%);
  background-color: #4BAF47;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(+50%, -50%);
  -moz-transform: translate(+50%, -50%);
  -ms-transform: translate(+50%, -50%);
  -o-transform: translate(+50%, -50%);
}
.dumb-imgs > img{
  border-radius: 10px;
  max-width: 350px;
  min-width: 200px;
  transform: translateX(-35px);
  -webkit-transform: translateX(-35px);
  -moz-transform: translateX(-35px);
  -ms-transform: translateX(-35px);
  -o-transform: translateX(-35px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* _______________ */
.farmer-news{
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}
.farmer-news > div{
  bottom: 0px;
  right: 0px;
  transform: translate(25px, 25px);
  -webkit-transform: translate(25px, 25px);
  -moz-transform: translate(25px, 25px);
  -ms-transform: translate(25px, 25px);
  -o-transform: translate(25px, 25px);
  @media screen and (max-width:765px) {
    transform: translate(0px, 25px);
    -webkit-transform: translate(0px, 25px);
    -moz-transform: translate(0px, 25px);
    -ms-transform: translate(0px, 25px);
    -o-transform: translate(0px, 25px);
  }
}
.farmer-news > div i{
  font-size: var(--f-xl);
  position: relative;
  z-index: 100;
  background: #4BAF47;
  padding: 2px;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.farmer-news > div > div{
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px #00000047;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
}
.farmer-news > div > div h5 a{
  font-size: var(--f-md);
  color: #1F1E17;
  font-weight: 800;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.farmer-news > div > div h5 a:hover{
  color: #585853;
}
.farmer-news > div > div span{
  font-size: var(--f-main) ;
  color: #878680;
  font-weight: 500;
}
.news-articles > div:last-of-type a{
  min-width: 140px;
  max-width: 300px;
  flex: 1;
}
/* ____________________________ */
footer{
  background-color: #24231D;
}
.footer > div{
  flex: 1;
  min-width: 200px;
}
.footer > div >div{
  width: calc(50% - 8px);
  min-width: 200px;
}
.footer .main-footer-sec p{
  color: #A5A49A;
  font-size: 15px;
  font-weight: 500;
}
.footer .icons-ul a{
  width: 30px;
  height: 30px;
  display: flex;
  color: #fff;
  background-color: #1F1E17;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
} 
.footer .icons-ul a:hover{
  background-color: #fff;
  color: #1F1E17;
}
.footer .icons-ul li:first-of-type{
  margin-inline-start: 0px !important;
}
.footer-ul-header{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}
.footer-ul-header::before,
.footer-ul-header::after{
  content: '';
  position: absolute;
  background-color: #4BAF47;
  top: calc(100% + 4px);
  left: 0px;
  width: 80%;
  height: 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer-ul-header::after{
  left: calc(80% + 4px);
  width: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.leaf-link a{
  color: #A5A49A;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.leaf-link a:hover{
  color: #d5d4cc;
}
.footer .news > div p{
  color: #fff;
  font-size: var(--f-main);
  font-weight: 700;
}
.footer .news > div span{
  color: #EEC044;
  font-size: 16px;
}
.icon-lable-img{
  height: fit-content;
}
.contact > div{
  color: #A5A49A;
  font-size: 15px;
  font-weight: 500;
}
.sending-div input{
  width: 75%;
  color: #878680;
  outline: none;
  font-size: var(--f-sm);
}
.sending-div button{
  width: 25%;
  background-color: #4BAF47;
  border: none;
  outline: none;
}
